PORT=3000
FRONTEND_URL=http://localhost:5173
JWT_RESET_SECRET=tu_clave_reset_secreta

GMAIL_USER=tu-email@gmail.com
GMAIL_APP_PASSWORD=tu_app_password_16_caracteres

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
CLOUDINARY_FOLDER=lusteshop
